<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(167, 174, 180);">
    <center>
        <h1 style="background-color: rgb(237, 22, 37); color:white">STEVE SMITH</h1>
    </center>
    <h2>Steven Peter Devereux Smith (born 2 June 1989) is an Australian international cricketer and former captain of the Australian national team. Smith is best known for his high consistency to score runs in Test cricket. Smith has drawn comparisons to batter Don Bradman, for his distinctively high Test batting average.[3]

        Although he was initially selected for Australia as a right-arm leg spinner, Smith later played primarily as a batsman. After playing five matches from 2010 to 2011, he was recalled to the Australian team in 2013, and took over the captaincy from Michael Clarke in late 2015, after which he predominantly batted at number 3 or 4.</h2>

    <center>
        <h1><a href="{% url 'india:virat' %}">go to virat</a></h1>
        <h1><a href="{% url 'india:dhoni' %}">go to dhoni</a></h1>
        <h1><a href="{% url 'australia:warner' %}">go to warner</a></h1>
        
    </center>
  
</body>
</html>