<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <center>
        <h1 style="background-color: rgb(231, 12, 12); color:gold">VIRAT KOHLI</h1>
    </center>
    <h2 style="color: white;">Virat Kohli (born 5 November 1988) is an Indian international cricketer and the former captain of the India national team who plays as a right-handed batsman for Royal Challengers Bangalore in the IPL and for the Delhi in Indian domestic cricket. Widely regarded as one of the greatest batsmen of all time,[3] he holds the records for scoring most runs in T20 internationals and in the IPL. In 2020, the International Cricket Council named him the male cricketer of the decade. Kohli has also contributed to a number of India's successes, including winning the 2011 World Cup and the 2013 Champions trophy.</h2>
    <center>
        <h1><a href="{% url 'india:dhoni' %}">go to dhoni</a></h1>
        <h1><a href="{% url 'australia:smith' %}">go to smith</a></h1>
        <h1><a href="{% url 'australia:warner' %}">go to warner</a></h1>
    </center>
</body>
</html>