<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: yellow;">
    <center>
        <h1 style="background-color: darkblue; color:red ;">DAVID WARNER</h1>
    </center>
    <h2>David Andrew Warner (born 27 October 1986) is an Australian international cricketer and a former captain of the Australian national team in limited overs format and a former Test vice-captain. A left-handed opening batsman, Warner is the first Australian cricketer in 132 years to be selected for a national team in any format without experience in first-class cricket. He is widely considered as one of the greatest batsman of his era. He plays for New South Wales and played for the Sydney Thunder in domestic cricket.</h2>

    <center>
        <h1><a href="{% url 'india:virat' %}">go to virat</a></h1>
        <h1><a href="{% url 'india:dhoni' %}">go to dhoni</a></h1>
        <h1><a href="{% url 'australia:smith' %}">go to smith</a></h1>
    </center>
    
</body>
</html>